@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fecdd3;
  color: #350311;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1.5fr 12fr;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 32px;
  margin-bottom: 1rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 7;
  background-color: #350311;
  color: #fecdd3;
}

.sidebar-title {
  font-size: 48px;
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  cursor: alias;
}

.sidebar-title .material-symbols-outlined {
  font-size: 64px;
}

.sidebar-title span,
.sidebar-content ul li a span,
.sidebar-tools ul li a span,
.search-bar span,
.display-profile span {
  margin-right: 1rem;
}

.sidebar-content {
  padding: 1rem 0;
  font-size: 32px;
}

.sidebar-content .material-symbols-outlined,
.sidebar-tools .material-symbols-outlined,
.header .material-symbols-outlined,
.project-icon .material-symbols-outlined {
  font-size: 36px;
  cursor: pointer;
}

.sidebar-content ul li a,
.sidebar-tools ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.75rem 3rem;
  color: #fecdd3;
}

.sidebar-content ul li a:hover,
.sidebar-content ul li a:focus,
.sidebar-tools ul li a:hover,
.sidebar-tools ul li a:focus,
.menu-options ul li button:hover,
.menu-options ul li button:focus {
  background-color: #fecdd3;
  color: #350311;
}

.sidebar-tools {
  font-size: 32px;
  padding: 4rem 0;
}

.header {
  background-color: #fff1f2;
  height: 6rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.search-bar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-left: 3rem;
}

.search-bar input {
  width: 50rem;
  height: 2.5rem;
  border: none;
  border-radius: 25px;
  background-color: #fecdd3;
  color: #350311;
  font-size: 24px;
  padding: 1rem;
}

.display-profile {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-right: 4rem;
}

.display-picture {
  background-image: url(img/profile-picture.jpg);
  background-size: 300%;
  background-position: 50% 50%;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 0 2rem;
}

.menu {
  height: 9rem;
  background-color: #fff1f2;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  box-shadow: 0px 10px 10px #fda4aec5;
}

.user-profile {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
}

.user-picture {
  background-image: url(img/profile-picture.jpg);
  background-size: 200%;
  background-position: 50% 50%;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
}

.user-greeting p {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.user-name {
  font-size: 32px;
}

.menu-options ul {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}

.menu-options ul li button {
  background-color: #350311;
  color: #fff1f2;
  border: none;
  border-radius: 35px;
  padding: 1rem 0;
  width: 10rem;
  font-size: 24px;
  font-weight: 700;
}

.main-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2rem;
  gap: 2rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1.4fr));
  gap: 2rem;
}

.project {
  width: 100%;
  height: 270px;
  background-color: #fff1f2;
  border-radius: 10px;
  position: relative;
  box-shadow: 10px 10px 10px #fda4aec5;
}

.project::after {
  content: "";
  width: 8px;
  height: 270px;
  background-color: #e11d48;
  position: absolute;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 0;
}

.project-content {
  padding: 2rem 2rem;
}

.project-content h2 {
  font-size: 24px;
}

.project-content p {
  font-size: 20px;
  color: #9f1239;
}

.project-icon {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  position: absolute;
  top: 75%;
  left: 55%;
}

.announcements {
  width: 100%;
  height: 400px;
  background-color: #fff1f2;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #fda4aec5;
}

.announcement {
  padding: 1rem 0;
}

.announcement h2 {
  font-size: 20px;
}

.announcement p {
  font-size: 16px;
  color: #9f1239;
}

.announcement:nth-child(1),
.announcement:nth-child(2) {
  border-bottom: 1px solid #9f1239;
}

.trending-profiles {
  width: 100%;
  height: 390px;
  background-color: #fff1f2;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #fda4aec5;
  display: grid;
  gap: 2rem;
  font-size: 20px;
}

.t-profile {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.t-picture {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fecdd3;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.t-tag p:nth-child(2) {
  color: #9f1239;
}
